/* --- General styles --- */

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	color: var(--text-white);
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	animation-name: screen-appear;
	animation-duration: 2s;
	overflow-x: hidden;
}

h1 {
	font-size: 5vw;
	margin: 0;
}

p {
	margin: 0;
}

.listBox i {
	margin-right: 1vw;
}

img {
	border: solid 5px var(--light-red);
	border-radius: 10px;
	margin: 2vmin;
	width: auto;
}

#content {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: space-evenly;
	gap: 2vh;
	margin: 2vmin 2vmin 10vh 2vmin;
}

#story {
	line-height: 1.5;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: center;
	justify-content: center;
	gap: 3vh;
}
	
img {
	height: auto;
}

#story {
	width: 80vw;
}

/* --- Mobile-only --- */

@media (orientation: portrait) {

	img {
		width: 70vw;
	}

	#story {
		font-size: 2vh;
	}

}

/* --- Desktop-only --- */

@media (orientation: landscape) {

	img {
		width: 30vw;
	}

	#story {
		font-size: 2vw;
	}
}