<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="My story.">
		<meta name="author" content="Colby Reinhart">

		<title>About Me</title>
		<link rel="stylesheet" href="static/css/global.css">
		<link rel="stylesheet" href="static/css/aboutme.css">
		<script defer src="static/js/global.js"></script>
		<script src="https://kit.fontawesome.com/e4862ea8a4.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<div id="navbar" class="contentBox">
			<div id="nametag">
				Colby Reinhart
			</div>

			<p id="hamburgerMenu" class="fa-solid fa-bars"></p>

			<div id="navbarLinks" class="contentBox">
				<button id="homepageLink" class="navbarItem">
					Home
				</button>
				<button id="resumeLink" class="navbarItem">
					Resume
				</button>
				<button id="aboutmeLink" class="navbarItem">
					About Me
				</button>
				<button id="projectsLink" class="navbarItem">
					Projects
				</button>
				<button id="experienceLink" class="navbarItem">
					Experience
				</button>
			</div>
		</div>

		<br>

		<h1>About Me</h1>

		<div id="content">
			<img id="casualPhoto" src="static/images/Arnold-Statue.jpg" alt="Me at the arnold classic 2022">
			<div id="story">
				<p>
					My name is Colby Reinhart! I'm currently a senior at Kent State
					University studying for a BS in computer science with a minor
					in economics.
				</p>
				<p>
					I chose computer science as a career path because I am thrilled
					by the limitless possibility which computers offer us. I want
					to improve the world using computers, and I thoroughly enjoy
					doing so!
				</p>
				<p>
					When I'm not enjoying time with computers, I'm spending time with
					my friends and/or my girlfriend, working out, or playing video
					games. I also enjoy nature walks and hiking in the woods, attend
					concerts and recitals for local choirs, orchestras, symphonies,
					and other bands, and listen to all sorts of music in my free time.
					However, my biggest passion outside of my career is physical
					fitness and improving my body and health every day!
				</p>

				<div class="listBox">
					<p>During my time as a computer science student, I've become
						competent and/or proficient in the following languages:
						<p><i class="fa-solid fa-minus"></i>C</p>
						<p><i class="fa-solid fa-minus"></i>C++</p>
						<p><i class="fa-solid fa-minus"></i>Java</p>
						<p><i class="fa-solid fa-minus"></i>Javascript</p>
						<p><i class="fa-solid fa-minus"></i>Python</p>
						<p><i class="fa-solid fa-minus"></i>Rust</p>
						<p><i class="fa-solid fa-minus"></i>C#/.NET</p>
						<p><i class="fa-solid fa-minus"></i>Bash</p>
					</p>
					<br>
					<p>
						I've also worked with many technologies and frameworks,
						including but not limited to:
						<p><i class="fa-solid fa-minus"></i>HTML/CSS</p>
						<p><i class="fa-solid fa-minus"></i>SQL</p>
						<p><i class="fa-solid fa-minus"></i>Git</p>
						<p><i class="fa-solid fa-minus"></i>Linux System/Environment</p>
						<p><i class="fa-solid fa-minus"></i>Command-line utilities</p>
						<p><i class="fa-solid fa-minus"></i>Java Server Pages</p>
						<p><i class="fa-solid fa-minus"></i>ASP.NET</p>
						<p><i class="fa-solid fa-minus"></i>Bootstrap</p>
						<p><i class="fa-solid fa-minus"></i>Arduino</p>
					</p>
					<br>
					<p>
						My expertise and personal interests include:
						<p><i class="fa-solid fa-minus"></i>Internet of Things</p>
						<p><i class="fa-solid fa-minus"></i>HTTP protocol, web servers, and REST API development</p>
						<p><i class="fa-solid fa-minus"></i>Systems programming and low-level applications</p>
						<p><i class="fa-solid fa-minus"></i>Algorithms development and programming logic</p>
						<p><i class="fa-solid fa-minus"></i>Leadership and project management</p>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>