<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="My story.">
		<meta name="author" content="Colby Reinhart">

		<title>About Me</title>
		<link rel="stylesheet" href="static/css/global.css">
		<link rel="stylesheet" href="static/css/aboutme.css">
		<script defer src="static/js/global.js"></script>
		<script src="https://kit.fontawesome.com/e4862ea8a4.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<div id="navbar" class="contentBox">
			<div id="nametag">
				Colby Reinhart
			</div>

			<p id="hamburgerMenu" class="fa-solid fa-bars"></p>

			<div id="navbarLinks" class="contentBox">
				<button id="homepageLink" class="navbarItem">
					Home
				</button>
				<button id="resumeLink" class="navbarItem">
					Resume
				</button>
				<button id="aboutmeLink" class="navbarItem">
					About Me
				</button>
				<button id="projectsLink" class="navbarItem">
					Projects
				</button>
				<button id="experienceLink" class="navbarItem">
					Experience
				</button>
			</div>
		</div>

		<br>

		<h1>About Me</h1>

		<div id="content">
			<img id="casualPhoto" src="static/images/Arnold-Statue.jpg" alt="Me at the arnold classic 2022">
			<div id="story">
				<p>
					My name is Colby Reinhart! I'm currently studying for my BS in
					Computer Science with a minor in Economics at Kent State University.
				</p>
				<p>
					I chose computer science as a career path because I've been
					fascinated with computers from a young age and wanted to learn
					how they work and how to use them. I love the limitless possibility
					that computers offer and I'm excited to continue learning long
					after I graduate and create amazing things with the help of
					computers!
				</p>

				<div class="listBox">
					<p>I am proficient in these languages:</p>
						<p><i class="fa-solid fa-minus"></i>C</p>
						<p><i class="fa-solid fa-minus"></i>C++</p>
						<p><i class="fa-solid fa-minus"></i>Java</p>
						<p><i class="fa-solid fa-minus"></i>HTML/CSS/Javascript</p>
						<p><i class="fa-solid fa-minus"></i>Python</p>
						<p><i class="fa-solid fa-minus"></i>SQL</p>
					<p>
						I've also worked with Lua and am currently learning bash
						scripting and rust.
					</p>
				</div>

				<div class="listBox">
					<p>I've worked with the following frameworks:</p>
						<p><i class="fa-solid fa-minus"></i>Java Server Pages</p>
						<p><i class="fa-solid fa-minus"></i>Electron</p>
						<p><i class="fa-solid fa-minus"></i>Bootstrap</p>
					<p>
						I'm also currently learning Tauri.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>