<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="My website, made entirely by me.">
		<meta name="author" content="Colby Reinhart">

		<title>Colby Reinhart's Website</title>
		<link rel="stylesheet" href="static/css/global.css">
		<link rel="stylesheet" href="static/css/homepage.css">
		<script defer src="static/js/global.js"></script>
		<script src="https://kit.fontawesome.com/e4862ea8a4.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<div id="navbar" class="contentBox">
			<div id="nametag">
				Colby Reinhart
			</div>

			<p id="hamburgerMenu" class="fa-solid fa-bars"></p>

			<div id="navbarLinks" class="contentBox">
				<button id="homepageLink" class="navbarItem">
					Home
				</button>
				<button id="resumeLink" class="navbarItem">
					Resume
				</button>
				<button id="aboutmeLink" class="navbarItem">
					About Me
				</button>
				<button id="projectsLink" class="navbarItem">
					Projects
				</button>
				<button id="experienceLink" class="navbarItem">
					Experience
				</button>
			</div>
		</div>

		<br>

		<div id="content">
			<div id="hello" class="contentBox">
				<div id="greetings">
					<h1>Welcome to my website!</h1>
					<p id="intro">
						Have a look around to see my projects, interests,
						and experience as a computer scientist.
					</p>
				</div>
				<img id="headshot" alt="A picture of me!" src="static/images/professional_picture.jpg">
			</div>
		</div>
	</body>
</html>